<div class="grid">
    <div class="g-col-md-8 g-start-md-3">
        <div class="thread-show">
            <h2><%= @forum.thread %></h2>
            <p class="thread-post"><b>Posted by</b> <%= @forum.user.email %>, <%= time_ago_in_words(@forum.created_at) %> ago</p>
            <p class="thread-desc"><%= @forum.content %></p>

            <h3>Comments:</h3>
            <%= render @forum.comments %>

            <h3 class="thread-reply">Reply to the thread:</h3>
            <%= render 'comments/form' %>

            <div class="links btn-group">
                <%= link_to "Back", root_path %>
                <% if user_signed_in? %>
                    <% if @forum.user_id == current_user.id %>
                        <%= link_to "Edit", edit_forum_path(@forum) %>
                        <%= button_to "Delete", forum_path(@forum), method: :delete, data: {turbo_confirm: "Are you sure to delete this thread?"} %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>