<h2><%= @forum.thread %></h2>
<p><%= @forum.content %></p>

<h3>Reply to the thread:</h3>
<%= render 'comments/form' %>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_forum_path(@forum) %>
<%= button_to "Delete", forum_path(@forum), method: :delete, data: {turbo_confirm: "Are you sure to delete this thread?"} %>