<div class="comment">
    <p class="comment-content"><%= comment.message%></p>
    <p class="comment-post">Posted by <%= comment.user.email %>, <%= time_ago_in_words(comment.created_at) %> ago</p>

    <div class="links">
        <% if user_signed_in? %>
            <% if @forum.user_id == current_user.id %>
                <%= link_to "Edit", edit_forum_comment_path(comment.forum, comment) %>
                <%= button_to "Delete", forum_comment_path(comment.forum, comment), method: :delete, data: {turbo_confirm: "Are you sure to delete this comment"} %>
            <% end %>
        <% end %>
    </div>
</div>